<div class="row">
  <div class="col col-3">
    <%= link_to game.title.name, game_path(game.id) %>
  </div>
  <div class="col col-3">
    <%= game.played_at.strftime('%d-%m-%Y') %>
  </div>
  <div class="col col-2">
    <%= game.user_score %>
  </div>
  <div class="col col-2">
    <%= game.user_result %>
  </div>
  <div class="col col-2">
    <%= link_to 'Usuń', game_path(game.id), method: :delete %>
  </div>
</div>
