<div class="row">
  <div class="col col-sm-3">
    <%= link_to game.title.name, game_path(game.id) %>
  </div>
  <div class="col col-sm-3">
    <%= game.played_at.strftime('%d-%m-%Y') %>
  </div>
  <div class="col col-sm-2">
    <%= game.user_score %>
  </div>
  <div class="col col-sm-2">
    <%= game.user_result %>
  </div>
  <div class="col col-sm-2">
    <%= link_to icon_span('remove'), game_path(game.id), confirm: 'Na pewno?', method: :delete %>
  </div>
</div>
