<div class="row container">
  <div class="col col-sm-12">
    <h1>Lista partii</h1>

    <%= form_tag games_path, class: 'row main-row', method: :get do %>
      <div class="col col-sm-4">
        <%= label_tag :q, 'Wyszukaj' %>
        <%= text_field_tag :q, params[:q], placeholder: 'Wpisz tytuł gry' %>
      </div>
      <div class="col col-sm-8">
        <%= submit_tag 'Szukaj' %>
      </div>
    <% end %>

    <div class="row main-row">
      <div class="col col-sm-3">
        Tytuł gry
      </div>
      <div class="col col-sm-3">
        Rozegrano dnia
      </div>
      <div class="col col-sm-2">
        Punkty/Bramki
      </div>
      <div class="col col-sm-2">
        Rezultat
      </div>
      <div class="col col-sm-2">
        Akcje
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12">
        <%= render @games %>
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12 digg_pagination">
        <%= will_paginate @games %>
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-6">
        <%= render 'games/charts/user_titles_played' %>
      </div>
      <div class="col col-sm-6">
        <%= render 'games/charts/user_results' %>
      </div>
    </div>

  </div>
</div>


