<div class="row">
  <div class="col col-sm-3">
    <%= link_to title.name, title_path(title.id) %>
  </div>
  <div class="col col-sm-5">
    Ulubiony: <%= overall_favs(title.id) %> graczy | Rozegrano gier ogółem: <%= title.games.count %>
  </div>
  <div class="col col-sm-4">
    <% if current_user %>
      <% if current_user.admin? %>
        <%= link_to icon_span('ok'), accept_title_path(title.id), title: 'Akceptuj', method: :post unless title.accepted? %>
        <%= link_to icon_span('pencil'), edit_title_path(title.id), title: 'Edytuj' %>
        <%= link_to icon_span('remove'), edit_title_path(title.id), title: 'Usuń', confirm: 'Na pewno?', method: :delete %>
      <% end %>

      <%= link_to icon_span('thumbs-up'), favorite_title_path(title.id), title: 'Dodaj do ulubionych', method: :post unless current_user.like?(title.id) %>
      <%= link_to icon_span('plus'), new_game_path(title_id: title.id), title: 'Dodaj partię' %>
    <% end %>
  </div>
</div>
