<div class="row main-row container">
  <div class="col col-sm-12">
    <h1>Lista tytułów</h1>

    <%= form_tag titles_path, class: 'row main-row', method: :get do %>
      <div class="col col-sm-4">
        <%= label_tag :q, 'Wyszukaj' %>
        <%= text_field_tag :q, params[:q], placeholder: 'Wpisz frazę' %>
      </div>
      <div class="col col-sm-8">
        <%= submit_tag 'Szukaj' %>
      </div>
    <% end %>

    <div class="row main-row">
      <div class="col col-sm-3">
        Nazwa
      </div>
      <div class="col col-sm-5">
        Informacje
      </div>
      <div class="col col-sm-4">
        Akcje
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12">
        <%= render @titles %>
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12 digg_pagination">
        <%= will_paginate @titles %>
      </div>
    </div>

    <% if can? :create, Title %>
      <div class="row main-row">
        <div class="col col-sm-12">
          <h3 style="margin: 0;">Brakuje tytułu? <%= link_to 'Dodaj go!', new_title_path %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row main-row">
  <div class="col col-sm-12 col-lg-6">
    <%= render 'titles/charts/titles_favorites' %>
  </div>
  <div class="col col-sm-12 col-lg-6">
    <%= render 'titles/charts/titles_played' %>
  </div>
</div>


